* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhai 2', cursive;
}

.nav-link {
    color: rgb(223, 12, 23);
}

.navbar-brand {
    color: rgb(14, 4, 68);
    font-weight: 700;
}

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./pexels-david-mcbee-1546168.jpg)no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.main  h1{
    font-size: 4rem;
    font-weight: 700;
}

.card {
    border: none;
}

.main select {
    height: 40px;
    width: 90%;
    outline: none;
    padding: 0 20;
}

.main span {
    color: grey font-weight: 600;
}

.main .btnl {
    background-color: coral;
    color: white;
    outline: none;
    border: none;
    width: 90%;
    height: 40px;
    margin-top: 40px;
}

.btnl:hover {
    background-color: blueviolet;
    transition: 0.5s;
}
 .land{
    background: white;
}
 .btn2{
    background: black;
    color: white;
    height: 45px;
    width: 200px;
    outline: none;
    border: none;
}
 .btnc{
    height: 45px;
    width: 150px;
    background-color: rgb(83, 56, 87);
    color: rgb(87, 78, 141);
    outline: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 30%;
    top: 20%;
    padding: 10px;
    font-weight: 500;
}
.btnf{
    background-color: brown;
    color: rgb(219, 217, 228);
    height: 45px;
    width: 200px;
    outline: none;
    border: none;
    display:  inline-block;
}
footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.fab{
    font-size: 25px;
    color: grey;
}
.fab:hover{
    color: white;
    transition: 0.5s;
}